/* CSS Document */
.center {margin: 0 auto;text-align:center;}
.ui-header .ui-title {margin: 0 10%;}
/* #login {position:absolute;top:50%;margin-top:-150px;} */
#login h1 {padding:20px 0;}

.action {padding: .5em;margin-bottom:1em; background-color:#fff;}
[data-role=content] {background-color:#f9f9f9;}

.ui-icon-map-marker:after {
	background-position: .503em .25em;	
}

.left {float:left;}

.right {float:right;}
.right .ui-btn {display:block;}

.cl {clear:both;height:0;}

[data-role=content] img {width:100%;}

#settings-state, #create-account-state {text-align: left;}
